@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1{
    @apply basis-3/5 font-mont text-3xl font-bold;
  }

  
}

@layer components {
  .btn-primary {
    @apply rounded-lg bg-secondary-500 font-semibold text-base shadow-md px-10 py-2 transition ease-in-out delay-150 hover:bg-primary-500 duration-300 hover:text-white;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body{
  font-family: var(--font-sans);
  @apply text-gray-500;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
